
.app {
  display: grid;
  grid-template-rows: 70px 1fr 100px;
  height: 100dvh;
}

header {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
header button {
  padding: 0 10px;
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 5px;
}
.body {
  
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid #000;
}
footer span {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span.active {
  background-color: black;
  font-weight: 700;
  color: #fff;
}